__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
.ipynb_checkpoints/
.idea/
.vscode/

data/raw/*
data/processed/*
data/external/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

results/*
!results/figures/.gitkeep
!results/tables/.gitkeep
